<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//hibernate/hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection properties - Driver, URL, user, password -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://trenbe.cbnrabxm66qg.eu-west-1.rds.amazonaws.com/KeywordBot?useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull</property>
		<property name="hibernate.connection.username">trenbe</property>
		<property name="hibernate.connection.password">hoon7080</property>
		<!-- Connection Pool Size -->
		<property name="hibernate.connection.pool_size">10</property>
		
		<!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- Outputs the SQL queries, should be disabled in Production -->
		<property name="hibernate.show_sql">false</property>
		
		<!-- Dialect is required to hibernatenate know the Database Type, MySQL, Oracle etchibernatenate 4 automatically figure out Dialect from Database Connection Metadata -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> 

		<!-- mapping file, we can use Bean annotations too --> 
		<mapping resource="crawler.hbm.xml" />
	</session-factory>
</hibernate-configuration>
